.productCheckout {
    display: flex;
    margin: 20px 0;
}

.productCheckout__info {
    padding-left: 20px;
    height: 100px;
    margin-bottom: 15px;
}

.productCheckout__title {
    font-size: 17px;
    font-weight: 800;
}

/* .productCheckout__price {
    margin-top: 5px;
} */

.productCheckout__rating {
    display: flex;
}

.productCheckout > img {
    height: 180px;
    width: 180px;
    object-fit: contain;
}

.productCheckout__info > button {
    background: #F0C14B;
    border: 1px solid;
    margin-top: 10px;
    border-color: #A88734 #9C7E31 #846A29;
    color: #111;
}